In [3]:
import pandas as pd

In [4]:
foods = pd.read_csv('Restaurant - Foods.csv')
customers = pd.read_csv('Restaurant - Customers.csv')

week1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('Restaurant - Week 2 Sales.csv')

In [5]:
week1.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [6]:
week2.head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [7]:
pd.concat([week1, week2], ignore_index=False, keys=['Week-1', 'Week-2'])

            Customer ID  Food ID
Week-1 0            537        9
       1             97        4
       2            658        1
       3            202        2
       4            155        9
...                 ...      ...
Week-2 245          783       10
       246          556       10
       247          547        9
       248          252        9
       249          249        6

[500 rows x 2 columns]

In [11]:
a = pd.DataFrame([1, 2, 3], columns = ['A'])

In [10]:
b = pd.DataFrame([4, 5, 6], columns = ["B"])

In [12]:
pd.concat([a, b])

     A    B
0  1.0  NaN
1  2.0  NaN
2  3.0  NaN
0  NaN  4.0
1  NaN  5.0
2  NaN  6.0

In [16]:
pd.concat([a, b], axis= 'columns')

   A  B
0  1  4
1  2  5
2  3  6