In [1]:
import pandas as pd

In [2]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], date_format= "%m/%Y")

In [3]:
bigmac.set_index(keys = ["Date", "Country"])

                          Price in US Dollars
Date       Country
2016-01-01 Argentina                     2.39
           Australia                     3.74
           Brazil                        3.35
           Britain                       4.22
           Canada                        4.14
...                                       ...
2010-01-01 Turkey                        3.83
           UAE                           2.99
           Ukraine                       1.83
           United States                 3.58
           Uruguay                       3.32

[652 rows x 1 columns]

In [4]:
bigmac.set_index(keys= ["Country", "Date"]).sort_index()

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
          2010-07-01                 3.56
          2011-07-01                 4.84
          2012-01-01                 4.64
          2012-07-01                 4.16
...                                   ...
Vietnam   2014-01-01                 2.84
          2014-07-01                 2.83
          2015-01-01                 2.81
          2015-07-01                 2.75
          2016-01-01                 2.67

[652 rows x 1 columns]

In [5]:
bigmac.nunique()

Date                    12
Country                 58
Price in US Dollars    330
dtype: int64

In [6]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], date_format = "%m/%Y", index_col = ["Country", "Date"]).sort_index()
bigmac.head()

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
          2010-07-01                 3.56
          2011-07-01                 4.84
          2012-01-01                 4.64
          2012-07-01                 4.16

In [7]:
bigmac.index.names

FrozenList(['Country', 'Date'])

In [8]:
bigmac.index[0]

('Argentina', Timestamp('2010-01-01 00:00:00'))

In [9]:
bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-07-01', '2011-07-01', '2012-01-01',
               '2012-07-01', '2013-01-01', '2013-07-01', '2014-01-01',
               '2014-07-01', '2015-01-01',
               ...
               '2014-01-01', '2014-07-01', '2015-01-01', '2015-07-01',
               '2016-01-01', '2014-01-01', '2014-07-01', '2015-01-01',
               '2015-07-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [10]:
bigmac.index.get_level_values(0)

Index(['Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina',
       'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina',
       ...
       'Venezuela', 'Venezuela', 'Venezuela', 'Venezuela', 'Venezuela',
       'Vietnam', 'Vietnam', 'Vietnam', 'Vietnam', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [11]:
bigmac.index.get_level_values("Country")

Index(['Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina',
       'Argentina', 'Argentina', 'Argentina', 'Argentina', 'Argentina',
       ...
       'Venezuela', 'Venezuela', 'Venezuela', 'Venezuela', 'Venezuela',
       'Vietnam', 'Vietnam', 'Vietnam', 'Vietnam', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [12]:
bigmac.index

MultiIndex([('Argentina', '2010-01-01'),
            ('Argentina', '2010-07-01'),
            ('Argentina', '2011-07-01'),
            ('Argentina', '2012-01-01'),
            ('Argentina', '2012-07-01'),
            ('Argentina', '2013-01-01'),
            ('Argentina', '2013-07-01'),
            ('Argentina', '2014-01-01'),
            ('Argentina', '2014-07-01'),
            ('Argentina', '2015-01-01'),
            ...
            ('Venezuela', '2014-01-01'),
            ('Venezuela', '2014-07-01'),
            ('Venezuela', '2015-01-01'),
            ('Venezuela', '2015-07-01'),
            ('Venezuela', '2016-01-01'),
            (  'Vietnam', '2014-01-01'),
            (  'Vietnam', '2014-07-01'),
            (  'Vietnam', '2015-01-01'),
            (  'Vietnam', '2015-07-01'),
            (  'Vietnam', '2016-01-01')],
           names=['Country', 'Date'], length=652)

In [13]:
bigmac.index.set_names(names = ["Country Name", "Time"], level = [0,1])

MultiIndex([('Argentina', '2010-01-01'),
            ('Argentina', '2010-07-01'),
            ('Argentina', '2011-07-01'),
            ('Argentina', '2012-01-01'),
            ('Argentina', '2012-07-01'),
            ('Argentina', '2013-01-01'),
            ('Argentina', '2013-07-01'),
            ('Argentina', '2014-01-01'),
            ('Argentina', '2014-07-01'),
            ('Argentina', '2015-01-01'),
            ...
            ('Venezuela', '2014-01-01'),
            ('Venezuela', '2014-07-01'),
            ('Venezuela', '2015-01-01'),
            ('Venezuela', '2015-07-01'),
            ('Venezuela', '2016-01-01'),
            (  'Vietnam', '2014-01-01'),
            (  'Vietnam', '2014-07-01'),
            (  'Vietnam', '2015-01-01'),
            (  'Vietnam', '2015-07-01'),
            (  'Vietnam', '2016-01-01')],
           names=['Country Name', 'Time'], length=652)

In [14]:
bigmac.index = bigmac.index.set_names(names = "Nation", level = 0)
bigmac.head()

                      Price in US Dollars
Nation    Date
Argentina 2010-01-01                 1.84
          2010-07-01                 3.56
          2011-07-01                 4.84
          2012-01-01                 4.64
          2012-07-01                 4.16

In [15]:
bigmac.sort_index(ascending = False)

                      Price in US Dollars
Nation    Date
Vietnam   2016-01-01                 2.67
          2015-07-01                 2.75
          2015-01-01                 2.81
          2014-07-01                 2.83
          2014-01-01                 2.84
...                                   ...
Argentina 2012-07-01                 4.16
          2012-01-01                 4.64
          2011-07-01                 4.84
          2010-07-01                 3.56
          2010-01-01                 1.84

[652 rows x 1 columns]

In [16]:
bigmac.sort_index(ascending = [False, True])

                      Price in US Dollars
Nation    Date
Vietnam   2014-01-01                 2.84
          2014-07-01                 2.83
          2015-01-01                 2.81
          2015-07-01                 2.75
          2016-01-01                 2.67
...                                   ...
Argentina 2014-01-01                 3.03
          2014-07-01                 2.57
          2015-01-01                 3.25
          2015-07-01                 3.07
          2016-01-01                 2.39

[652 rows x 1 columns]

In [17]:
bigmac.iloc[2]

Price in US Dollars    4.84
Name: (Argentina, 2011-07-01 00:00:00), dtype: float64

In [18]:
bigmac.loc[("Argentina", "2014-01-01")]

Price in US Dollars    3.03
Name: (Argentina, 2014-01-01 00:00:00), dtype: float64

In [19]:
bigmac.loc["Argentina"]

            Price in US Dollars
Date
2010-01-01                 1.84
2010-07-01                 3.56
2011-07-01                 4.84
2012-01-01                 4.64
2012-07-01                 4.16
2013-01-01                 3.82
2013-07-01                 3.88
2014-01-01                 3.03
2014-07-01                 2.57
2015-01-01                 3.25
2015-07-01                 3.07
2016-01-01                 2.39