In [171]:
import pandas as pd

In [172]:
bond = pd.read_csv("jamesbond.csv")
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [173]:
bond = bond.set_index(["Film","Year"], drop = True, append = False)
bond.head()

,,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,Year,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [174]:
bond = bond.reset_index()
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [175]:
bond.iloc[0:15,0:4]

                               Film  Year           Actor        Director
0                            Dr. No  1962    Sean Connery   Terence Young
1             From Russia with Love  1963    Sean Connery   Terence Young
2                        Goldfinger  1964    Sean Connery    Guy Hamilton
3                       Thunderball  1965    Sean Connery   Terence Young
4                     Casino Royale  1967     David Niven      Ken Hughes
5               You Only Live Twice  1967    Sean Connery   Lewis Gilbert
6   On Her Majesty's Secret Service  1969  George Lazenby   Peter R. Hunt
7              Diamonds Are Forever  1971    Sean Connery    Guy Hamilton
8                  Live and Let Die  1973     Roger Moore    Guy Hamilton
9       The Man with the Golden Gun  1974     Roger Moore    Guy Hamilton
10             The Spy Who Loved Me  1977     Roger Moore   Lewis Gilbert
11                        Moonraker  1979     Roger Moore   Lewis Gilbert
12               For Your Eyes Only  1981     Roger Moore       John Glen
13            Never Say Never Again  1983    Sean Connery  Irvin Kershner
14                        Octopussy  1983     Roger Moore       John Glen

In [176]:
bond.iloc[[1,2,3,4,5],[1,2,3,4,5]]

   Year         Actor       Director  Box Office  Budget
1  1963  Sean Connery  Terence Young       543.8    12.6
2  1964  Sean Connery   Guy Hamilton       820.4    18.6
3  1965  Sean Connery  Terence Young       848.1    41.9
4  1967   David Niven     Ken Hughes       315.0    85.0
5  1967  Sean Connery  Lewis Gilbert       514.2    59.9

In [177]:
bond.loc[0:15,"Film":"Director"]

                               Film  Year           Actor        Director
0                            Dr. No  1962    Sean Connery   Terence Young
1             From Russia with Love  1963    Sean Connery   Terence Young
2                        Goldfinger  1964    Sean Connery    Guy Hamilton
3                       Thunderball  1965    Sean Connery   Terence Young
4                     Casino Royale  1967     David Niven      Ken Hughes
5               You Only Live Twice  1967    Sean Connery   Lewis Gilbert
6   On Her Majesty's Secret Service  1969  George Lazenby   Peter R. Hunt
7              Diamonds Are Forever  1971    Sean Connery    Guy Hamilton
8                  Live and Let Die  1973     Roger Moore    Guy Hamilton
9       The Man with the Golden Gun  1974     Roger Moore    Guy Hamilton
10             The Spy Who Loved Me  1977     Roger Moore   Lewis Gilbert
11                        Moonraker  1979     Roger Moore   Lewis Gilbert
12               For Your Eyes Only  1981     Roger Moore       John Glen
13            Never Say Never Again  1983    Sean Connery  Irvin Kershner
14                        Octopussy  1983     Roger Moore       John Glen
15                 A View to a Kill  1985     Roger Moore       John Glen

In [178]:
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [179]:
bond = bond.set_index("Film",drop = True)
bond.loc["Goldfinger","Actor"] = "Sir Sean Connery"
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [180]:
bond.iloc[0:5,0:5] = "121"
bond.head(10)

/tmp/ipykernel_119/703891068.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '121' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  bond.iloc[0:5,0:5] = "121"
/tmp/ipykernel_119/703891068.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '121' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  bond.iloc[0:5,0:5] = "121"

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,121,121,121,121,121,0.6
From Russia with Love,121,121,121,121,121,1.6
Goldfinger,121,121,121,121,121,3.2
Thunderball,121,121,121,121,121,4.7
Casino Royale,121,121,121,121,121,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [181]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [182]:
bond["Actor"] = bond["Actor"].replace("Sean Connery","Sir Sean Connery")
bond.head(10)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [183]:
temp = bond["Actor"] == "Sir Sean Connery"
bond.loc[temp, "Actor"] = "Sean"
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [184]:
bond.rename(columns = {"Year" : "Year of Movie", "Actor" : "Lead Actor"})

,Year of Movie,Lead Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [185]:
bond.head(n=15)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [186]:
bond.drop(columns = ["Budget", "Box Office"], index = ["Casino Royale", "Thunderball"])

,Year,Actor,Director,Bond Actor Salary
Film,,,,
Dr. No,1962,Sean,Terence Young,0.6
From Russia with Love,1963,Sean,Terence Young,1.6
Goldfinger,1964,Sean,Guy Hamilton,3.2
You Only Live Twice,1967,Sean,Lewis Gilbert,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,0.6
Diamonds Are Forever,1971,Sean,Guy Hamilton,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,NaN
Never Say Never Again,1983,Sean,Irvin Kershner,NaN
Octopussy,1983,Roger Moore,John Glen,7.8
A View to a Kill,1985,Roger Moore,John Glen,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,17.9
Quantum of Solace,2008,Daniel Craig,Marc Forster,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,14.5
Spectre,2015,Daniel Craig,Sam Mendes,NaN

In [187]:
bond.pop("Year")

Film
Dr. No                             1962
From Russia with Love              1963
Goldfinger                         1964
Thunderball                        1965
Casino Royale                      1967
You Only Live Twice                1967
On Her Majesty's Secret Service    1969
Diamonds Are Forever               1971
Live and Let Die                   1973
The Man with the Golden Gun        1974
The Spy Who Loved Me               1977
Moonraker                          1979
For Your Eyes Only                 1981
Never Say Never Again              1983
Octopussy                          1983
A View to a Kill                   1985
The Living Daylights               1987
Licence to Kill                    1989
GoldenEye                          1995
Tomorrow Never Dies                1997
The World Is Not Enough            1999
Die Another Day                    2002
Casino Royale                      2006
Quantum of Solace                  2008
Skyfall                            2012
Spectre                            2015
Name: Year, dtype: int64

In [188]:
bond.head()

,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
Dr. No,Sean,Terence Young,448.8,7.0,0.6
From Russia with Love,Sean,Terence Young,543.8,12.6,1.6
Goldfinger,Sean,Guy Hamilton,820.4,18.6,3.2
Thunderball,Sean,Terence Young,848.1,41.9,4.7
Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN

In [189]:
del bond["Box Office"]
bond

,Actor,Director,Budget,Bond Actor Salary
Film,,,,
Dr. No,Sean,Terence Young,7.0,0.6
From Russia with Love,Sean,Terence Young,12.6,1.6
Goldfinger,Sean,Guy Hamilton,18.6,3.2
Thunderball,Sean,Terence Young,41.9,4.7
Casino Royale,David Niven,Ken Hughes,85.0,NaN
You Only Live Twice,Sean,Lewis Gilbert,59.9,4.4
On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,37.3,0.6
Diamonds Are Forever,Sean,Guy Hamilton,34.7,5.8
Live and Let Die,Roger Moore,Guy Hamilton,30.8,NaN
The Man with the Golden Gun,Roger Moore,Guy Hamilton,27.7,NaN
The Spy Who Loved Me,Roger Moore,Lewis Gilbert,45.1,NaN
Moonraker,Roger Moore,Lewis Gilbert,91.5,NaN
For Your Eyes Only,Roger Moore,John Glen,60.2,NaN
Never Say Never Again,Sean,Irvin Kershner,86.0,NaN
Octopussy,Roger Moore,John Glen,53.9,7.8
A View to a Kill,Roger Moore,John Glen,54.5,9.1
The Living Daylights,Timothy Dalton,John Glen,68.8,5.2
Licence to Kill,Timothy Dalton,John Glen,56.7,7.9
GoldenEye,Pierce Brosnan,Martin Campbell,76.9,5.1
Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,133.9,10.0
The World Is Not Enough,Pierce Brosnan,Michael Apted,158.3,13.5
Die Another Day,Pierce Brosnan,Lee Tamahori,154.2,17.9
Casino Royale,Daniel Craig,Martin Campbell,145.3,3.3
Quantum of Solace,Daniel Craig,Marc Forster,181.4,8.1
Skyfall,Daniel Craig,Sam Mendes,170.2,14.5
Spectre,Daniel Craig,Sam Mendes,206.3,NaN

In [190]:
bond.sample(n = 3)

                         Actor         Director  Budget  Bond Actor Salary
Film
Casino Royale     Daniel Craig  Martin Campbell   145.3                3.3
A View to a Kill   Roger Moore        John Glen    54.5                9.1
Moonraker          Roger Moore    Lewis Gilbert    91.5                NaN

In [191]:
bond.nsmallest(n=4, columns = "Budget", keep = "all")

,Actor,Director,Budget,Bond Actor Salary
Film,,,,
Dr. No,Sean,Terence Young,7.0,0.6
From Russia with Love,Sean,Terence Young,12.6,1.6
Goldfinger,Sean,Guy Hamilton,18.6,3.2
The Man with the Golden Gun,Roger Moore,Guy Hamilton,27.7,NaN

In [192]:
bond["Budget"].nsmallest(n=4, keep = "all")

Film
Dr. No                          7.0
From Russia with Love          12.6
Goldfinger                     18.6
The Man with the Golden Gun    27.7
Name: Budget, dtype: float64

In [193]:
bond.head()
bond.where(bond["Actor"] == "Sean")

,Actor,Director,Budget,Bond Actor Salary
Film,,,,
Dr. No,Sean,Terence Young,7.0,0.6
From Russia with Love,Sean,Terence Young,12.6,1.6
Goldfinger,Sean,Guy Hamilton,18.6,3.2
Thunderball,Sean,Terence Young,41.9,4.7
Casino Royale,NaN,NaN,NaN,NaN
You Only Live Twice,Sean,Lewis Gilbert,59.9,4.4
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN
Diamonds Are Forever,Sean,Guy Hamilton,34.7,5.8
Live and Let Die,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN
Never Say Never Again,Sean,Irvin Kershner,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN
A View to a Kill,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN
Licence to Kill,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN
Tomorrow Never Dies,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN

In [194]:
bond = pd.read_csv("jamesbond.csv")
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [195]:
def rank_movie(row):
    year = row.loc["Year"]
    actor = row.loc["Actor"]
    budget = row.loc["Budget"]
    
    if year >= 1980 and year < 1990:
        return "Great 80's flick!"
    if actor == "Roger Moore":
        return "The best Bond ever!"
    if budget > 100:
        return "Expensive movie, fun"
    return "No comment"
    
bond.insert(loc = len(bond.columns), column = "My comments", value = bond.apply(rank_movie, axis = "columns"))
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,My comments
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,No comment
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,No comment
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,No comment
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,No comment
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,No comment
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4,No comment
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6,No comment
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,No comment
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN,The best Bond ever!
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN,The best Bond ever!
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN,The best Bond ever!
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN,The best Bond ever!
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN,Great 80's flick!
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN,Great 80's flick!
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8,Great 80's flick!
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,Great 80's flick!
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2,Great 80's flick!
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9,Great 80's flick!
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,No comment
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0,"Expensive movie, fun"
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5,"Expensive movie, fun"
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,"Expensive movie, fun"
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,"Expensive movie, fun"
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,"Expensive movie, fun"
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,"Expensive movie, fun"
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN,"Expensive movie, fun"